{% extends "layout.html" %}
{% block title %}Book-info{% endblock %}

{% block head %}
     {{ super() }}
{% endblock %}

{% block content %}

    {{ super() }}


    <div class="book-info clearfix">
        <div class="photo">
            <img src="{{ img_url }}" alt="">
        </div>

        <div class="info">
        {% if description %}
            <h2>{{ book_title }}</h2>
            <p>{{ book_author }}</p><br>
            <p>{{ description.replace(']]>','') }}</p><br>
        {% else %}
            <h4>There is no description available</h4><br>
        {% endif %}
            <h4>Rating</h4><br>
            <p>The book rating on goodreads is <strong>{{ rating }}</strong> - {{ count }} ratings</p>
            <p>The total rating is <strong>{{ total_rate }}</strong></p><br>
        {% if login_session %}
            <h5>User Rating</h5>
            <div class="rating">
                {% if user_rate == 1 %}
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=1)}}"><span title="n1" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=2)}}"><span title="n2" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=3)}}"><span title="n3" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=4)}}"><span title="n4" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=5)}}"><span title="n5" class="fa fa-star"></span></a>
                {% elif user_rate == 2 %}
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=1)}}"><span title="n1" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=2)}}"><span title="n2" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=3)}}"><span title="n3" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=4)}}"><span title="n4" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=5)}}"><span title="n5" class="fa fa-star"></span></a>
                {% elif user_rate == 3 %}
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=1)}}"><span title="n1" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=2)}}"><span title="n2" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=3)}}"><span title="n3" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=4)}}"><span title="n4" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=5)}}"><span title="n5" class="fa fa-star"></span></a>
                {% elif user_rate == 4 %}
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=1)}}"><span title="n1" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=2)}}"><span title="n2" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=3)}}"><span title="n3" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=4)}}"><span title="n4" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=5)}}"><span title="n5" class="fa fa-star"></span></a>
                {% elif user_rate == 5 %}
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=1)}}"><span title="n1" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=2)}}"><span title="n2" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=3)}}"><span title="n3" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=4)}}"><span title="n4" class="fa fa-star checked"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=5)}}"><span title="n5" class="fa fa-star checked"></span></a>
                {% else %}
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=1)}}"><span title="n1" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=2)}}"><span title="n2" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=3)}}"><span title="n3" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=4)}}"><span title="n4" class="fa fa-star"></span></a>
                <a href="{{url_for('rate', user_id=login_session, book_id = book_id, value=5)}}"><span title="n5" class="fa fa-star"></span></a>
                {% endif %}
            </div><br>
        {% endif %}

        <div class="comments">
            <h4>Comments</h4><br>
            {% if comments %}
                {% for comment in comments %}
                    <p><strong>{{ comment.name }}</strong></p>
                    <p>{{ comment.coment }}</p><br>
                {% endfor %}
            {% endif %}

            {% if login_session %}
                <form  action="{{url_for('comment', book_id=book_id, user_id=login_session)}}" method="post">
                    <input type="text" class="form-control" name="name" placeholder="Write a comment">
                    <input type="submit" class="btn btn-primary mt-2 mb-4" value="post">
                </form>
            {% endif %}
        </div>

        </div>

    </div>


    {% block script %}
        {{ super() }}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {

                const div = document.getElementsByClassName('rating');

                for (var i = 0; i < div.length; i++) {
                    div[i].addEventListener('click', function (e) {
                        titles = ['n1', 'n2', 'n3', 'n4', 'n5']
                        console.log(this.children);
                        if (titles.indexOf(e.target.title) != -1) {
                            var c = this.children;
                            console.log(c);
                            for (var i = 0; i < c.length; i++) {
                                if(c[i].children[0].title <= e.target.title) {
                                    console.log(c[i].children[0].title);
                                    c[i].children[0].className += ' checked';
                                }

                            }
                        }
                    })
                }
            })
            // div.addEventListener('click', (e) => {
            //     // console.log(e.target.type);
            //     titles = ['n1', 'n2', 'n3', 'n4', 'n5']
            //     if (titles.indexOf(e.target.title) != -1) {
            //         var c = div.children;
            //         console.log(c);
            //         for (var i = 0; i < c.length; i++) {
            //             if(c[i].children[0].title <= e.target.title) {
            //                 console.log(c[i].children[0].title);
            //                 c[i].children[0].className += ' checked';
            //             }
            //
            //         }
            //     }
            //     alert(e.target.title);
                // Check which star is clicked according to its title
                // set checked class to all pervios seblings
            // });
            // alert('h');
        </script>
    {% endblock %}
{% endblock %}
