{% extends "layout.html" %}
{% block title %}Book-info{% endblock %}

{% block head %}
     {{ super() }}
{% endblock %}

{% block content %}

    {{ super() }}


    <div class="book-info clearfix">
        <div class="photo">
            <img src="{{ img_url }}" alt="">
        </div>

        <div class="info">
        {% if description %}
            <h2>{{ book_title }}</h2>
            <p>{{ book_author }}</p>
            <p>{{ description }}</p>
        {% else %}
            <h4>There is no description available</h4>
        {% endif %}
        </div>

        <div class="comments">
            {% if comments %}
                {% for comment in comments %}
                    <ul>
                        <li>{{ comment }}</li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>

        <div class="write_comment">
            <form action="{{url_for('comment', book_id=book_id, user_id=login_session['user_id'])}}" method="post">
                <input type="text" name="name" placeholder="write a comment">
                <input type="submit" class="btn btn-primary" value="post">
            </form>
        </div>
    </div>


    {% block script %}
        {{ super() }}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {

                const div = document.getElementsByClassName('rating');

                for (var i = 0; i < div.length; i++) {
                    div[i].addEventListener('click', function (e) {
                        titles = ['n1', 'n2', 'n3', 'n4', 'n5']
                        console.log(this.children);
                        if (titles.indexOf(e.target.title) != -1) {
                            var c = this.children;
                            console.log(c);
                            for (var i = 0; i < c.length; i++) {
                                if(c[i].children[0].title <= e.target.title) {
                                    console.log(c[i].children[0].title);
                                    c[i].children[0].className += ' checked';
                                }

                            }
                        }
                    })
                }
            })
            // div.addEventListener('click', (e) => {
            //     // console.log(e.target.type);
            //     titles = ['n1', 'n2', 'n3', 'n4', 'n5']
            //     if (titles.indexOf(e.target.title) != -1) {
            //         var c = div.children;
            //         console.log(c);
            //         for (var i = 0; i < c.length; i++) {
            //             if(c[i].children[0].title <= e.target.title) {
            //                 console.log(c[i].children[0].title);
            //                 c[i].children[0].className += ' checked';
            //             }
            //
            //         }
            //     }
            //     alert(e.target.title);
                // Check which star is clicked according to its title
                // set checked class to all pervios seblings
            // });
            // alert('h');
        </script>
    {% endblock %}
{% endblock %}
