{% extends "layout.html" %}
{% block title %}enrollment{% endblock %}

{% block head %}
     {{ super() }}
{% endblock %}

{% block content %}

    {{ super() }}

    {% if books %}
        {% for book in books %}

            <div class="card mt-3">
                <div class="card-body clearfix">
                    <a href="{{url_for('book', book_isbn = book.isbn)}}">
                        <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="">
                        <div class="card-content">
                            <h4>{{ book.title }}</h4>
                            <span>{{ book.author }}</span>
                            <a class="btn btn-primary button m-2" href="{{url_for('rate', book_id = book.id)}}">Rate</a>
                        </div>
                    </a>
                </div>
            </div>

        {% endfor %}

    {% else %}

        <div class="card mt-3">
            <div class="card-body clearfix">
                <div class="card-content">
                    <h4>There are no books available</h4>
                </div>
            </div>
        </div>

    {% endif %}

    {% block script %}
        {{ super() }}
    {% endblock %}
{% endblock %}
