{% extends "layout.html" %}
{% block title %}Searched books{% endblock %}

{% block head %}
     {{ super() }}
{% endblock %}

{% block content %}

    {{ super() }}

    {% if books %}

        {% for book in books %}

            <div class="book-body m-3">
                <a href="{{url_for('book', book_id = book.id)}}">
                    <img class="mb-1" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="">
                    <h4>{{ book.title }}</h4>
                    <p>{{ book.author }}</p>
                    <p>Published at {{ book.year }}</p></a>
            </div>


        {% endfor %}

    {% else %}


            <h4>There are no books available</h4>

    {% endif %}

{% endblock %}
