{% extends "layout.html" %}
{% block title %}Searched books{% endblock %}

{% block head %}
     {{ super() }}
{% endblock %}

{% block content %}

    {{ super() }}

    {% if books %}

        {% for book in books %}

                <div class="book-body m-3">
                    <a href="{{url_for('book', book_isbn = book.isbn)}}">
                        <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="">
                        <h4>{{ book.title }}</h4>
                        <p>{{ book.author }}</p></a>
                </div>


        {% endfor %}

    {% else %}


            <h4>There are no books available</h4>

    {% endif %}

    {% block script %}
        {{ super() }}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {

                const div = document.getElementsByClassName('rating');

                for (var i = 0; i < div.length; i++) {
                    div[i].addEventListener('click', function (e) {
                        titles = ['n1', 'n2', 'n3', 'n4', 'n5']
                        console.log(this.children);
                        if (titles.indexOf(e.target.title) != -1) {
                            var c = this.children;
                            console.log(c);
                            for (var i = 0; i < c.length; i++) {
                                if(c[i].children[0].title <= e.target.title) {
                                    console.log(c[i].children[0].title);
                                    c[i].children[0].className += ' checked';
                                }

                            }
                        }
                    })
                }
            })
        </script>
    {% endblock %}
{% endblock %}
